<form class="col-xs-1" align="center" (ngSubmit)="onSubmit()" #postForm="ngForm">

    <div class="form-group">
<!--        <label  for="text">Text:</label>-->
        <div>          
            <textarea 
                      rows="4" cols="60" id="text" placeholder="Text"
                      name="text" [(ngModel)] = "text" autofocus></textarea>
        </div>
    </div>
    <div class="form-group">
        <!--<label  for="files">Files:</label>-->
        <div>          
            <input type="file" id="files" placeholder="Files" name="files" multiple
                   (change) = "setFiles($event.target.files)"/>
        </div>
    </div>
    <div class="form-group">        
        <div >
            <button type="submit" id="submit">Submit</button>
        </div>
    </div>
</form>