<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <a class="navbar-brand" routerLink='/'>
            <img  src="/assets/images/AA_white.png" width="70" height="70" />
        </a>
    
    <ul class="navbar-nav">
        
        
        <li routerLink='/'> Home</li>
        <li  routerLink='/new'>Post</li>
        <li *ngIf="!authenticationService.authenticated" 
            (click) = 'login()'>Login</li>
        <li  *ngIf="authenticationService.authenticated">
            Welcome,{{" "+authenticationService.member.username}}!</li>
        <li *ngIf="authenticationService.authenticated"
            (click) = "logOut()">
            Log Out</li>
    </ul>
    
</nav>    