<nav>
    <ul>
        <li class='page-button' routerLink='/'> Home</li>
        <li class='page-button' routerLink='/new'>Post</li>
        <li class='page-button' *ngIf="!authenticationService.authenticated" 
            (click) = 'login()'>Login</li>
        <li class='page-button' *ngIf="authenticationService.authenticated">
            Welcome,{{" "+authenticationService.member.username}}!</li>
        <li class='page-button' *ngIf="authenticationService.authenticated"
            (click) = "authenticationService.logOut()">
            Log Out</li>
    </ul>
    
</nav>    