.post {
    width:100%;
    overflow: hidden;
    margin: .2em;
   background-color:#E8E8E8; 
}
.posts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.reply {
    margin-left: 6em;
    border-left: #206ca7 thin dotted;
}

.photo img {
    max-height: 6em;
    margin: .5em 0 .5em 1em;
    
}
.photo {
    margin-left: 3em;
    display: inline;
}

.button-container {
}
.buttons {
    margin:auto;
    max-width:90%;
}

.page-button {
    display:  inline-block;
    padding: .5em 1em;
    margin: 0 .2em;
    background-color: wheat;
    border: gray thin solid;
}

.page-button:hover {
     background-color: gray;
     color:white;
}